.App {
  /*text-align: center;
*/}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  text-align: center;
  background-color: white;
  padding: 14px 0;
  color: #444;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: fixed;
  top: 0;
}

.header span {
  height: 2em;
  margin: 0;
  padding: 15px 17px;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.header span:first-child {
  padding-left: 17px;
  border-left: 1px solid #ccc;
}

.page_container {
  text-align: center;
  margin: 0 160px;
  color: #333;
}

.container {
  margin-top: 80px;
}

.info {
  padding-top: 20px;
}

.info section {
  padding: 20px;
  background-color: rgba(255,255,255,0.5);
  color: black;
}

.active {
  background-color: lightskyblue;
  color: white;
}

.logo {
  max-width: 90%;
}

.car {
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: -100;
  background-attachment: fixed;
}

@media (max-width: 800px) {
  .page_container {
    margin: 0 30px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
